@media (max-width: 768px) {

    .header-top .nav-bar
    {
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        position: relative;
    }
    .menu-hamburger
    {
        display: flex;
        font-size: 1.5rem;
        padding: 20px;
        /* position: absolute;
        top: 0;
        right: 0; */
        /* margin-right: 30px; */
        /* margin-top: 10px; */
    }
    .nav-list
    {
        padding: 0;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        right: 0;
        height: 0;
        opacity: 0;
        overflow: hidden; /* Esconder o conteúdo até ser animado */
        transition: max-height 0.5s ease, opacity 0.5s ease; /* Definindo a transição suave */
    }
    .nav-bar .display-show
    {
        display: flex;
        border: 2px solid white;
        border-radius: 10px;
        opacity: 1;
        height: auto;
        max-height: 300px;
    }
    .nav-list li
    {
        display: block;
        width: 100%;
        list-style: none;
        padding: 10px 20px;
        text-align: center;
        margin-left: 0;
        /* border: 2px solid red; */
    }

    .header-top nav .button-login{
        margin: 0;
    }

    /* .header-top nav li
    {
        margin-left: 0;
    } */

   .text-article-top{
    font-size: 1.5rem !important;
   }
   .section-main-one{
        flex-direction: column;
        position: relative;
        margin-bottom: 30%;
        margin-top: 30%;
        text-align: center;
   }
   .info-article-one{
    font-size: 1.1rem !important;
   }
   .article-main-two{
    flex-direction: column ;
   }
   .card-article{
    flex-direction: row !important;
    width: 90% !important;
    height: 10% !important;
    margin: 0px 0px 5% 0;
    }
    .text{
      display: flex;
      flex-direction: column;  
      margin-bottom: 15px;
    }
    .img-card{
        width: 15%;
        height: auto;
    }
   .view-more{
    width: 50px !important;
    height: 50px !important;
   }
   .button-article{
    width: 100%;
    word-break: keep-all;
   }
   .register-email{
    width: 100% !important;
    text-align: center;
   }
   .top-element-card, .top-element-card2{
    white-space: nowrap;
   }
}

