@media screen and (max-width: 768px) {

    main
    {
        width: 100%;
    }
    .header-top .nav-bar
    {
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        position: relative;
    }
    .section-main-one #img-js
    {
        width: 90%;
        height: 300px;
        /* border: 1px solid red; */
    }
    .info-article-one
    {
        margin: 10px 0;
        /* border: 1px solid red; */
        width: 90%;
        text-align: center;
    }
    .section-main-one
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer-article
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-hamburger
    {
        display: flex;
        font-size: 1.5rem;
        padding: 20px;
        /* position: absolute;
        top: 0;
        right: 0; */
        /* margin-right: 30px; */
        /* margin-top: 10px; */
    }

    footer
    {
        text-align: center;
    }

    .element-card
    {
        flex-direction: column;
    }

    .card
    {
        width: 100%;
    }

    .card p
    {
        font-size: 0.825rem;
        width: 100%;
        margin: 0;
    }

    .top-element-card
    {
        /* margin: 10px; */
        width: 80%;
        height: 70px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .iframe-video
    {
        width: 80%;
        height: 300px;
    }

    .top-element-card h3
    {
        font-size: 1.025rem;
        font-weight: 600;
    }
    .top-element-card p
    {
        font-size: .815rem;

    }

    .section-footer ul
    {
        padding: 0;
    }

    .nav-list
    {
        padding: 0;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        right: 0;
        height: 0;
        opacity: 0;
        overflow: hidden; /* Esconder o conteúdo até ser animado */
        transition: max-height 0.5s ease, opacity 0.5s ease; /* Definindo a transição suave */
    }
    .nav-bar .display-show
    {
        display: flex;
        border: 2px solid white;
        border-radius: 10px;
        opacity: 1;
        height: auto;
        max-height: 300px;
    }
    .nav-list li
    {
        display: block;
        width: 100%;
        list-style: none;
        padding: 10px 20px;
        text-align: center;
        margin-left: 0;
        /* border: 2px solid red; */
    }

    .header-top nav .button-login{
        margin: 0;
    }

    /* .header-top nav li
    {
        margin-left: 0;
    } */

   .text-article-top{
    font-size: 1.5rem !important;
   }
   #img-js{
    width: 46%;
    height: 200px;
    border-radius: 15px;
    margin-top: 16px;
   }
   .info-article-one{
    font-size: 1.1rem !important;
   }
   .article-main-two{
    flex-direction: column !important;
    /* border: 1px solid red; */
   }

   .card-article{
    flex-direction: row !important;
    width: 90% !important;
    height: 10% !important;
    }

   .view-more{
    width: 70px !important;
    height: 50px !important;
   }

   .register-email{
    width: 100% !important;
    text-align: center;
   }

   .article-main-three
   {
    width: 80%;
    /* border: 1px solid red; */
   }

   .card-blocks
   {
    width: 90%;
    /* border: 1px solid red; */
   }

   .info-article
   {
    width: 100%;
   }
   .content-destaque
   {
        width: 100%;
        margin: 0;
    /* border: 1px solid red; */
   }
}

@media (max-width: 768) {

}